@charset "UTF-8";

* {
    margin: 0;
}

@font-face {
    font-family: 'font pokemon';
    src: url('fonte/Pokemon\ Solid.ttf') format('truetype');
}

@font-face {
    font-family: 'font bit' ;
    src: url('fonte/8bit16.ttf') format('truetype');
}

:root {
    --cor1:#0511F2;
    --cor2:#2C7BBF;
    --cor3:#162D59;
    --cor4:#F2B705;
    --cor5:#BF9004;
}

/* ==================================Inicio header=================================== */

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor3);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}

header #icon {
    width: 40px;
    height: 40px;
}

header > img {
    width: 115px;
    height: 50px;
    margin: 10px;
}

nav {
    display: flex;
    align-items: center;
    margin: 10px;
}
 
nav a {
    margin: 30px 15px;
    color: var(--cor4);
    text-decoration: none;
    font-family: 'font bit';
    font-weight: 200;
    font-size: 12px;
}

nav a:hover {
    transition: all 0.3s ease 0s;
    color: var(--cor2);
}

/* ===========================final header=================================================== */

/*================== inicio da section da landing page ======================================*/



.section-landing-page {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(204, 231, 252, 0.844);
}

.section-landing-page img {
    width: 500px;
    height: 500px;
    margin: 0px 50px;
}

#text {
    margin: 100px;
}

#text h1 {
    font-family: 'font pokemon';
    font-weight: 600;
    font-size: 45px;
    color: var(--cor4);
    text-shadow: 3px 2px var(--cor3) ;
}

#text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #162D59;
}

/*=============================== final da section da landing page ===========================================================*/

/* ==============================       inicio section cartas ================================================================*/

.section-cartas {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.101);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: rgb(243, 248, 253);
    background-color: rgba(204, 231, 252, 0.844);
}

.section-cartas img {
    margin-top:30px ;
    width: 190px;
    height: 250px;
}

.section-cartas > div {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: space-around;
    margin: 9px;
    width: 320px;
    height: 600px;
    background-color: var(--cor2);
    padding:15px;
    border-radius: 2px;
    border: 1px solid rgb(78, 70, 70);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}

.container-img {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 300px;
    background-color: var(--cor4);
    border-radius: 2px;
    border: 1px solid rgb(78, 70, 70);
}

.titulo {
    font-size: 20px;
}

.valor {
    font-size: 16px;
}

.carta1 button, .carta2 button, .carta3 button, .carta4 button {
    background-color: var(--cor4);
    width: 150px;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid rgb(78, 70, 70);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    cursor: pointer;
}

.carta1 button:hover, .carta2 button:hover, .carta3 button:hover, .carta4 button:hover {
    background-color: var(--cor5);
    transition: all 0.3s ease 0s;
}

.contato img {
    margin-top: -10px;
    width: 60px;
    height: 60px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    padding: 20px;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.sobre-a-carta {
    display: flex;
    flex-direction: wrap row;
    background-color: #f27373;
    padding: 20px;
}

.sobre-a-carta img {
    width: 450px;
    height: 400px;
    margin: 0px 20px 0px 0px;
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.descricao-carta > img {
    width: 50%;
    height: 170px;
}

.titulo {
    margin: 5px;
}

.valor-ano h2, h3 {
    margin: 5px;
}

.descricao-carta h4, p {
    margin: 10px;
}

.descricao-vendedor {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: lightgreen;
}

.descricao-vendedor img {
    width: 80px;
    height: 80px;
}

.compra-troca {
    background-color: cornflowerblue;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -1px;
    top: -1px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
}

.fechar:hover {
    background: #f27373;
}

/* ==============================       fim section cartas ================================================================*/

/* ==============================       inicio section cadastrar cartas ===================================================*/


.section-formulario {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    color:  #f2d205;
    background-color: rgba(204, 231, 252, 0.844);
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.container-form {
    width: 500px;
    height: 700%;  
    background-color: var(--cor2);
    padding: 25px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    border-radius: 2px;
    border: 1px solid rgb(78, 70, 70);
}


.inputs-form {
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
    align-content: center;
}

.inputs-form input, select{
    width: 50%;
    height: 25px;
    margin: 10px;
    padding: 4px;
    border-radius: 2px;
    border: none;
    border: 1px solid rgb(78, 70, 70);
}


.inputs-form h1 {
   margin: 0 auto;
   
}

.inputs-form label {
    margin-top: 10px;
}

textarea {
    margin-top: 10px;
    width: 250px;
    resize: none;
}

.buttons-form {
    width: 300px;
    margin: auto;
    
}

.buttons-form button {
    width: 100px;
    padding: 6px;
    margin-top: 30px;
    border-radius: 2px;
    border: 1px solid rgb(78, 70, 70);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

#button1 {
    margin-left: 15px;
    background-color: #f5e2dd;
}

#button2 {
    margin-left: 40px;
    background-color: #f2de05;
}

#button1:hover {
    background-color: #f7abab;
}

#button2:hover {
    background-color: #f2d205;
}

#gif-lugia {
    width: 300px;
    height:300px;
    margin: 30px;
}


  
/* ==============================       fim section cadastrar cartas ===================================================*/

/* ==============================       inicio section portifolio ===================================================*/

#text {
    text-align: center;
}

.image-and-ra {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #162D59;
}

.image-and-ra h2 {
    text-align: center;
}