@charset "UTF-8";

* {
    margin: 0;
}

@font-face {
    font-family: 'font pokemon';
    src: url('fonte/Pokemon\ Solid.ttf') format('truetype');
}

@font-face {
    font-family: 'font bit' ;
    src: url('fonte/8bit16.ttf') format('truetype');
}

:root {
    --cor1:#0511F2;
    --cor2:#2C7BBF;
    --cor3:#162D59;
    --cor4:#F2B705;
    --cor5:#BF9004;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor3);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}

header > img {
    width: 115px;
    height: 50px;
    margin: 10px;
}

nav {
    display: flex;
    align-items: center;
    margin: 10px;
}
 
nav a {
    margin: 30px 15px;
    color: var(--cor4);
    text-decoration: none;
    font-family: 'font bit';
    font-weight: 200;
    font-size: 12px;
}

nav a:hover {
    transition: all 0.3s ease 0s;
    color: var(--cor2);
}

section {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around; 
    padding-top: 100px;
}

section img {
    width: 200px;
    height: 200px;
    margin: 10px;
}
    
section div {
    margin-top: 30px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}

section .bulbasaur, .ivysaur, .venusaur {
    background-color: #c0fbc9b0;
}

section .chamander, .charmeleon, .charizard {
    background-color: #fbc0c0b0;
}

section .squirtle, .wartortle, .blastoise {
    background-color: #c0f7fbb0;
}

.tipo-pokemon {
    width: 45px;
    height: 45px;
}

.container-escondido > p {
    border-radius: 10px;
    display: none;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bulbasaur > .container-escondido > p, .ivysaur > .container-escondido > p, .venusaur > .container-escondido > p {
    background-color: #648268b0;
}

.chamander > .container-escondido > p, .charmeleon> .container-escondido > p, .charizard > .container-escondido > p {
    background-color: rgba(168, 106, 106, 0.69);
}

.squirtle > .container-escondido > p, .wartortlener-escondido > p, .blastoise > .container-escondido > p {
    background-color: rgba(106, 147, 168, 0.69);
}

.container-escondido:hover > p {
    display: block;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.evolucoes img {
    width: 65px;
    height: 65px;
}

.evolucoes .seta {
    width: 30px;
    height: 30px;
}